.button {
    margin: 2px 2px;
    padding: 2%;
    width: 20px;
    cursor: pointer;
    border: 2px solid black;
  }
  
.btn-clear{
  margin: 2px 2px;
    padding: 2%;
    width: 20px;
    cursor: pointer;
    border: 2px solid black;
}

.btn-equal{
  margin: 2px 2px;
    padding: 2%;
    width: 20px;
    cursor: pointer;
    border: 2px solid black;
}

  .screen {
    margin: 2px 2px;
    width: 260px;
    padding: 2px;
    font-size: 1.5em;
    border: 2px solid black;
    text-align: right;
  }